.App{
  text-align: center;
}
.productDiv{
  margin: auto;
  width: 40%;
}
.formDiv{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formDiv label{
  margin: 2% 0%;
}
.formDiv input{
  height: 15%;
  width: 98%;
  border-radius: 5px;
  border: 1px solid grey;
}
.formDiv button{
  height: 40px;
  width: 20%;
  border: none;
  background-color: rgb(50, 184, 184);
  border-radius: 5px;
  margin-top: 2%;
}
#delBtn{
  height: 40px;
  width: 20%;
  border: none;
  background-color: rgba(201, 24, 83, 0.918);
  border-radius: 5px;
  margin: 2% 0%;
  color: white;
}
.tableDiv{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tableDiv table{
  width: 100%;
}
.tableDiv button{
  height: 30px;
  width: 70px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: white;
}
.tableDiv input{
  width: 30px;
  text-align: center;
}