.App{
  text-align: center;
}
.formDiv{
  height: 350px;
  width: 40%;
  border: 2px solid black;
  border-radius: 5px ;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}
.formDiv input{
  height: 30px;
  width: 80%;
  margin: 1% auto;
}
.formDiv label{
  display: flex;
    margin-left: 9%;
}
.formDiv button{
  height: 40px;
    width: 30%;
    margin-left: 9%;
    color: white;
    background: black;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
table{
  height: auto !important;
  width: 80% !important;
  border-collapse: collapse;
  margin: auto;
}
.formDiv table,td,th,tr{
  border: 1px solid black; 
}
.btn{
  height: 40px;
  width: 40%;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
}
.red{
  background-color: rgb(247, 36, 36);
}
.green{
  background-color: rgb(13, 104, 13);
}